.background{
    height: 133vh;
    width:100vw;
  
    background-image: url('../../assets/img/how4.svg');
    background-size:cover;

}

@media screen and (max-width: 580px) {
    .background{
   
    height:100vh;
    width:100vw;

    background-image: url('../../assets/img/book.svg');
    background-size:cover;

    

  }

  .backPage{
    height:100vh;
    width:100vw;
    background-color: #F3F3FC;
    padding-top: 20px;
  }
}