.background1{
    height: 900px;
    width:100vw;
    background-color: #1A2745;
  
    /* background-color: #F3F3FC; */
    height:800px;

    /* background-repeat:no-repeat;
background-size:contain; */

}

.wrapper{
    display: none;
}



.TextMain{
    font-size: 40px;
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
  color: #fff;
  font-weight: 600;


}

@media screen and (max-width: 768px) {
    .TextMain{
    font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 580px) {
    .TextMain{

    
    font-size: 1.8rem;
   
  }}

  .image{

    display: flex;
    position: relative;
    height:60%;
    width:100vw;
    /* border:solid; */
    padding:0;
    margin-left: -120px;

  }










  .wrapper{
  
    position:absolute;
    /* top:7%;
    bottom: 70px;
    left: 437px; */
    /* width: 44%; */
    width:50%;
   
    height:580px; 
    margin-left: 28%;
    margin-top: 3%;
    background: rgb(27, 25, 25);
    opacity:0.94;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
    /* z-index:200; */
    
    z-index: 100;
   
  
  }
  .wrapper.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  #disclaimer{
      color:rgb(50, 170, 255);
  }
  #d1{
      color:#fff;
      text-align: center;
      text-align: justify;
      font-size: 20px;
      padding:30px;
      margin-bottom: 0;
  }
  #d2{
      margin-top:0;
      padding:30px;
      padding-top: 0;
      color:#fff;
      text-align: center;
      text-align: justify;
      font-size: 20px;
  }
  
  ::selection{
    color: #fff;
    background: #e90606;
  }
  .wrapper img{
    max-width: 90px;
  }
  .content header{
    font-size: 25px;
    font-weight: 600;
  }
  .content{
    margin-top: 10px;
  }
  .content p{
    color: #858585;
    margin: 5px 0 20px 0;
  }
  .content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons button{
    /* position: relative; */
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #ff0202;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 15px 25px rgba(222, 204, 204, 0.2);
  }
  .buttons button:hover{
    transform: scale(0.97);
  }
.mainshow1:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}

.mainshow2:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}

.image:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}
.mainshow3:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}
.mainshow4:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}
.mainshow5:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}
.mainshow6:hover {
  transform: scale(1.02);
  transition: all 0.2 ease-in-out;
}
  .mainshow1{
    
    display: flex;
    
    position: relative;
   
  
    height:280px;
    width:280px;
    cursor: pointer;
    /* border:solid; */
    padding:0;

    background-image: url('../../assets/img/p2.svg');
    background-size:cover;
    
  }

  .mainshow2{
    
    display: flex;
   
    position: relative;
   
    
    height:280px;
    width:280px;
    cursor: pointer;
    /* border:solid; */

    background-image: url('../../assets/img/p3.svg');
    background-size:cover;
    
    
  }
  .mainshow3{
    
    display: flex;
   
    position: relative;
   
    
    height:280px;
    width:280px;
    cursor: pointer;
    /* border:solid; */

    background-image: url('../../assets/img/p6.svg');
    background-size:cover;
    
    
  }
  .mainshow4{
    
    display: flex;
    
    position: relative;

  
    height:280px;
    width:280px;
    cursor: pointer;
    /* border:solid; */

    background-image: url('../../assets/img/p5.svg');
    background-size:cover;
    
   
  }
  .mainshow5{
    
    display: flex;
   
    position: relative;
   
   
    height:280px;
    width:280px;
    cursor: pointer;
    /* border:solid; */

    background-image: url('../../assets/img/1.svg');
    background-size:cover;
    
   
  }
  .mainshow6{
    
    display: flex;
   
    position: relative;
   
    
    height:280px;
    width:280px;
    cursor: pointer;
    /* border:solid; */

    background-image: url('../../assets/img/p7.svg');
    background-size:cover;
    
    
  }

  #room{
    display: flex;
    position: relative;
    height:150px;
    
  }
.roomdiv{
    display: flex;
    position: relative;
    height:150px;
   
    justify-content: center;
}

.skr{
    border-radius: 50px;
    display: inline;
    position: relative;
      background: #44ADFF;
      white-space: nowrap;
      padding: 12px 28px;
      color: #010606;
      font-size:16px;
      font-weight: 600;
      outline: none;
      border: none;
      cursor: pointer;
      
      justify-content: center;
      justify-items: center;
      justify-self: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
    text-decoration:none;
    border: solid;
    /* margin-left: 0; */
    
    
    }

    .backgroup{
      display: flex;
      width:100vw;
       height:fit-content;
       /* border:solid; */
   }
   .image{

    display: flex;
    position: relative;
    height:70%;
    width:60%;
    /* border:solid; */
    padding:0;
    margin-left: -60px;
    margin-top: 10%;

  }

    .image-group{
display: grid;
grid-template-columns: 300px 300px  300px;
margin-top: 50px;
height:fit-content;
column-gap: 50px;
  row-gap: 20px;

width:100vw;
      /* border:solid; */
      z-index: 10;
    }

    @media screen and (max-width: 580px) {

      .mainshow6{
        height:150px;
        width:150px;
      }

      .mainshow5{
        height:150px;
        width:150px;
      }
      .mainshow4{
        height:150px;
        width:150px;
      }
      .mainshow3{
        height:150px;
        width:150px;
      }
      .mainshow2{
        height:150px;
        width:150px;
      }
      .mainshow1{
        height:150px;
        width:150px;
      }
     
      .roomdiv{
        display: none;
      }
      .backgroup{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(2, 1fr);
        justify-content: center; */

        justify-content: center;
grid-template-rows: 1fr;
      }
      .background1{
        height: 100vh;
      }
      .image-group{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 24px;
        justify-content: center;
  row-gap: 10px;
  /* border:solid; */
  margin-top: -20px;
  /* margin-top: -30px; */
        
      }
      .image{
        /* border:solid; */
        margin-left: -150px;
        margin-right: 20px;
        margin: 0 auto;
        height: 90%;
        width:60%;
      }

      .TextMain{
        font-size: 24px;
  text-align: center;
  font-weight: 600;
      }
      .wrapper{
        width:78%;
        height:66%;
        margin-top: 100px;
        margin-left: 10%;
        text-align: left;
      }
      #d2{
        font-size: 14px;
        text-align:justify;
        margin-top: 50px;
      }

      .skr{
        display: flex;
        margin-left: 25%;
      }
      }



      @media screen and (max-width: 1000px) {
        .image{
          margin-top: 0;
        }
      }